**Ques 1**

In [3]:
def arraysIntersection(arr1, arr2, arr3):
    p1 = p2 = p3 = 0
    result = []

    while p1 < len(arr1) and p2 < len(arr2) and p3 < len(arr3):
        if arr1[p1] == arr2[p2] == arr3[p3]:
            result.append(arr1[p1])
            p1 += 1
            p2 += 1
            p3 += 1
        elif arr1[p1] <= arr2[p2] and arr1[p1] <= arr3[p3]:
            p1 += 1
        elif arr2[p2] <= arr1[p1] and arr2[p2] <= arr3[p3]:
            p2 += 1
        elif arr3[p3] <= arr1[p1] and arr3[p3] <= arr2[p2]:
            p3 += 1

    return result
arr1 = [1, 2, 3, 4, 5]
arr2 = [1, 2, 5, 7, 9]
arr3 = [1, 3, 4, 5, 8]
result = arraysIntersection(arr1, arr2, arr3)
print(result)

[1, 5]

**Ques 2**

In [4]:
def findDisappearedNumbers(nums1, nums2):
    nums1_set = set(nums1)
    nums2_set = set(nums2)

    distinct_nums1 = list(nums1_set - nums2_set)
    distinct_nums2 = list(nums2_set - nums1_set)

    return [distinct_nums1, distinct_nums2]
nums1 = [1, 2, 3]
nums2 = [2, 4, 6]
result = findDisappearedNumbers(nums1, nums2)
print(result)

[[1, 3], [4, 6]]

**Ques 3**

In [ ]:
def transpose(matrix):
    rows = len(matrix)
    cols = len(matrix[0])

    result = [[0] * rows for _ in range(cols)]

    for row in range(rows):
        for col in range(cols):
            result[col][row] = matrix[row][col]

    return result

**Ques 4**

In [ ]:
def arrayPairSum(nums):
    nums.sort()
    max_sum = 0

    for i in range(0, len(nums), 2):
        max_sum += nums[i]

    return max_sum

**Ques 5**

In [ ]:
def arrangeCoins(n):
    left = 0
    right = n

    while left <= right:
        mid = left + (right - left) // 2
        total = (mid * (mid + 1)) // 2

        if total == n:
            return mid

        if total > n:
            right = mid - 1
        else:
            left = mid + 1

    return right

**Ques 6**

In [1]:
def sortedSquares(nums):
    n = len(nums)
    left = 0
    right = n - 1
    result = []

    while left <= right:
        if abs(nums[left]) >= abs(nums[right]):
            result.append(nums[left] ** 2)
            left += 1
        else:
            result.append(nums[right] ** 2)
            right -= 1

    return result[::-1]
nums = [-4, -1, 0, 3, 10]
result = sortedSquares(nums)
print(result)

[0, 1, 9, 16, 100]

**Ques 7**

In [2]:
def maxCount(m, n, ops):
    min_row = m
    min_col = n

    for op in ops:
        min_row = min(min_row, op[0])
        min_col = min(min_col, op[1])

    return min_row * min_col
m = 3
n = 3
ops = [[2, 2], [3, 3]]
result = maxCount(m, n, ops)
print(result)

4

**Ques 8**

In [ ]:
def shuffle(nums, n):
    result = []
    for i in range(n):
        result.append(nums[i])
        result.append(nums[i + n])
    return result
nums = [2, 5, 1, 3, 4, 7]
n = 3
result = shuffle(nums, n)
print(result)