**Ques 1**

In [1]:
def convert_to_2d_array(original, m, n):
    if len(original) != m * n:
        return []

    result = [[0] * n for _ in range(m)]
    for i in range(len(original)):
        row = i // n
        col = i % n
        result[row][col] = original[i]

    return result
original = [1, 2, 3, 4, 5, 6]
m = 2
n = 3
print(convert_to_2d_array(original, m, n))

[[1, 2, 3], [4, 5, 6]]

**Ques 2**

In [4]:
def complete_staircase_rows(n):
    count = 0
    k = 1
    while n >= k:
        n -= k
        count += 1
        k += 1
    return count
n = 15
print(complete_staircase_rows(n))

[[1, 3], [4, 6]]

**Ques 3**

In [ ]:
def sorted_squares(nums):
    n = len(nums)
    result = [0] * n
    left = 0
    right = n - 1
    index = n - 1

    while left <= right:
        if abs(nums[left]) > abs(nums[right]):
            result[index] = nums[left] ** 2
            left += 1
        else:
            result[index] = nums[right] ** 2
            right -= 1
        index -= 1

    return result
nums = [-4, -1, 0, 3, 10]
print(sorted_squares(nums))

**Ques 4**

In [ ]:
def find_missing_elements(nums1, nums2):
    nums1_set = set(nums1)
    nums2_set = set(nums2)

    result_1 = [x for x in nums1 if x not in nums2_set]
    result_2 = [x for x in nums2 if x not in nums1_set]

    return [result_1, result_2]
nums1 = [1, 2, 3]
nums2 = [2, 4, 6]
print(find_missing_elements(nums1, nums2))

**Ques 5**

In [ ]:
def distance_value(arr1, arr2, d):
    count = 0
    for num1 in arr1:
        for num2 in arr2:
            if abs(num1 - num2) <= d:
                break
        else:
            count += 1

    return count
arr1 = [4, 5, 8]
arr2 = [10, 9, 1, 8]
d = 2
print(distance_value(arr1, arr2, d))

**Ques 6**

In [2]:
def find_duplicates(nums):
    result = []
    for num in nums:
        index = abs(num) - 1
        if nums[index] > 0:
            nums[index] = -nums[index]
        else:
            result.append(abs(num))
    return result
nums = [4, 3, 2, 7, 8, 2, 3, 1]
print(find_duplicates(nums))

[2, 3]

**Ques 7**

In [2]:
def find_min(nums):
    left = 0
    right = len(nums) - 1

    while left < right:
        middle = (left + right) // 2

        if nums[middle] > nums[right]:
            left = middle + 1
        else:
            right = middle

    return nums[left]
nums = [3, 4, 5, 1, 2]
print(find_min(nums))

4

**Ques 8**

In [ ]:
def find_original_array(changed):
    original_set = set()

    for num in changed:
        if num % 2 != 0 or num // 2 not in original_set:
            return []
        original_set.add(num // 2)

    return list(original_set)
changed = [1, 3, 4, 2, 6, 8]
print(find_original_array(changed))